body{
    background: #f2f2f2;
}

#newest-blog .blog-all-item{
   padding-top: 40px;
}

#newest-blog .section-title{
    font-weight: 600;
 }

#newest-blog .blog-all-item .blog-item figure.post-thumbnail{
    margin-bottom: 0px;
}

#newest-blog .blog-all-item .blog-item .entry-header .entry-title a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

#newest-blog .blog-all-item .blog-item .blog-item-text{
    text-align: left;
}

#newest-blog .blog-all-item .blog-item .blog-item-text .read-more a{
   color: #ea751e;
   text-decoration: none;
   font-weight: 600;
}

#newest-blog .blog-all-item .blog-item .blog-item-text .entry-excerpt{
    font-size: 14px;    
}


#newest-blog .blog-all-item .blog-item .blog-item1{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
}
/* footer */
.tile{
    font-weight: bold;
    font-size: 30px;
    font-family: monospace;
}
.tile1{
    text-transform: uppercase; 
    font-weight: bold;
}
.gaps {
    gap: 1.75rem  !important; 
    margin-top: -10px;
    margin-bottom: 9px;
}

#newest-blog .row.blog-all-item {
    display: flex;
    flex-wrap: wrap;
}

#newest-blog .col-md-6.blog-item {
    display: flex;
}

#newest-blog .p-3.bg-light.blog-item1 {
    display: flex;
    flex-direction: column;
}

#newest-blog .col-md-6.blog-item .blog-item1 {
    flex: 1;
}

/* end footer */

#find-custom .caption-inner{
    text-align: left;
    max-width: 850px;
}

#find-custom .caption-inner .description{
    color: #e3e3e1;
    margin-bottom: 10px;
}

#find-custom .caption-inner .title{
    font-weight: 500;
}

#find-custom .banner-caption .form-wrap {
    margin-top: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs input[type="submit"]{
    background: #ea751e;
    color: #ffff;
    text-indent: 0;
    width: 100%;
    font-weight: 500;
    padding-left: unset;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs input{
    height: 50px;
    background: none;
    padding-left: 50px;
    font-weight: 500;
    font-size: 1em;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs select{
    height: 50px;
    background: none;
    padding-left: 45px;
    font-weight: 500;
    font-size: 1em;
    color: #aeaeae;
    margin-right: 15px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs select:focus-visible{
    outline: none;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs input::placeholder{
    color: #aeaeae !important;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs{
    border-radius: 0;
    display: unset;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_keywords svg{
    position: absolute;
    bottom: 14px;
    margin-left: 20px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_location svg{
    position: absolute;
    bottom: 14px;
    margin-left: 20px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_location svg#svg-chevron{
    right: 20px;
    bottom: 15px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_keywords{
    background: #fff;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_location{
    background: #fff;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

#find-custom .banner-caption .jobscout_job_filters .search_submit{
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
}

.rightsidebar .custom-page #primary{
    float: unset;
    width: 100%;
    padding-right: unset;
}
/* header */
/* CSS */

.active {
    border-bottom: 2px solid blue;
}

.header-custom .current_page_item{
    border-bottom: solid #ea751e 3px;
}

.header-custom .current_page_item a{
    color: unset !important;
}
.header-custom .main-navigation ul li:hover>a{
    color: unset !important;
}
.header-custom .btn-wrap .btn{
    background: #ea751e;
    border: unset !important;
    border-radius: 0px;
    text-transform: uppercase; 
}
.header-custom .nav-menu{
    text-transform: uppercase; 
}
.header-custom .btn-wrap a.btn:hover{
    color: unset !important;
}
.header-custom .btn-wrap a.btn:focus{
    color: unset !important;
}
.tile-wrap .site-description{
    font-weight: bold;
    text-transform: uppercase; 
}
.tile-wrap .site-title a{
    font-family: monospace; 
    color: #000 !important;
    margin-bottom: 11px;
}
.tile-wrap .site-title {
    margin-bottom: 11px;
}
/* contact us */
.custom-page  .entry-header .entry-title-contact {
    display: none !important;
}

.site-main .entry-content .banner-contact{
    position: relative;
}
.banner-contact  .img-banner-contact {
    width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    margin-right: -50%;
    margin-top: -1.95em;
}
.banner-contact .img-banner-contact img {
    width: 100%; 
    height: 400px; 
    opacity: 0.7;

    /* object-fit: cover; */
}

.entry-content .banner-contact .entry-title-contact{
    position: absolute;
    top: 12.5rem;
    right: 50%;
    color: #ffff;
    transform: translate(50%,-50%);
    font-size: 40px;
    font-family: system-ui;
    font-weight: 500;
}
.site-main .entry-content .content-address-contact{
    position: relative;
}
.site-main .entry-content .content-address-contact h5,.site-main .entry-content .content-address-contact p{
    text-align: center;
}
.site-main .entry-content .content-address-contact h5{
    padding-bottom: 5px;
    font-weight: 600;
}
.post-edit-link-contact{
    display: none;
}
/* end contact us */
/* newsletter*/

.newsletters{
    width: auto !important;
    margin-right: -155px;
    margin-left: -154px;
}
.emailAndIcon{
    position: relative;
}
.fa-envelope{
    position: absolute;
    top: 18px;
    left: 14px;
}
.emailAndIcon .wpcf7-validates-as-email{
    padding-left: 42px;
}
.newsletterTile p{
    font-size: 22px;
    padding-left: 65px;
    font-family: initial;
}
.brnewsletter{
    padding-bottom: unset !important;
    padding-top: unset !important;
}
.inputEmail .has-spinner{
    background: unset;
    border: 1px solid #fff;
    border-radius:unset;
    margin-right: 93px;
}
.newsletters .newsletters1{
    text-align: center;
}
.mrNewsletter{
 margin: unset !important;
}
.mrNewsletter1{
padding: unset !important;
}
/* end newletter */
